---
slug: homepage
dynamic:
  enable: true
  data: project
  name_and_slug_translate: false
  name: name
  description: description
  slug: slug
dir:
  - projects
---
<div class="intro">
  <%= partial 'partials/title' %>
  <%= project_image(project, 'logo.svg', {class: 'logo'}) %>
</div>
<div class="background" style="background-color: rgba(<%= to_rgb(project.color) %>, .17);">
  <%= partial 'partials/mockups' unless project.mockups.nil? %>
  <%= partial 'partials/colors' unless project.palette.nil? %>
  <%= partial 'partials/more' unless project[locale.to_s].more.nil? %>
  <%= partial 'partials/fonts' unless project.fonts.nil? %>
  <%= partial 'partials/screenshots' unless project.screenshots.nil? %>
</div>
<!-- <p><%= project[locale.to_s].description %></p>
<%= project_image(project, 'main.jpg', {
  'class' => 'cover',
  'async' => true
  }) %> -->
